[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
crawl  = "scrapy crawl eiacast -o items.json"

[dev-packages]
flake8 = "*"
isort = "*"
pep8 = "*"
autopep8 = "*"
pylint = "*"

[packages]
scrapy = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
